.home-bar {
  background: RGBA(30,30,30,1);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  font-size: 25px;
  color: white;
  font-family: "Montserrat";
  padding-right: 20px;
}

.home-button {
  background:url('../imgs/hero.jpeg');
  background-size: 100%;
  color: white;
  border: 1px solid RGBA(250,250,250,0.7);
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
}

.home-button:hover {
  box-shadow: 0 0 1px 1px RGBA(240,240,240,0.3);
  cursor: pointer;
}

@media only screen and (max-width:768px){
  .footer {
    font-size: 12px;
  }
}
