<section class='top-container'>
    <div class="filter-container">
        <p class='nav-title'>Filter:</p>
        <input class='nav-filter' type="text" ng-model='filter'>
    </div>
    <div class="filter-container">
        <p class='nav-title'>Lowest Price:</p>
        <input class='nav-filter' type="text" ng-model='priceInfo.min'>
    </div>
    <div class="filter-container">
        <p class='nav-title'>Highest Price: </p>
        <input class='nav-filter' type="text" ng-model='priceInfo.max'>
    </div>
    <div class='button-container'>
    <button class='thumb-map-button' type="button" ng-click="toggleViews()" >Toggle Views</button>
  </div>
</section>
